<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>

    <meta name="description" content="<%= @seo_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicons/swallow.ico' %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <%= render 'shared/blog_nav' %>
      <%= render 'shared/blog_masthead' %>

      <main role="main">
        <div class="row">

          <%= yield %>

          <%= render 'shared/blog_sidebar' %>
        </div>

        <%= render 'shared/blog_footer' %>

        <%= alerts %>

           
      </main>
    </div><!-- /.container -->
  </body>
</html>
